<library>
  <action id="reorder_exon_groups" target="exon_groups" type="update" href="ajax/exon_groups/tuple" scope="self" />
  <select id="exon_groups_transition">
    <option value="0">
      nothing at all
    </option>
  </select>
</library>
<panel id="exon_groups_panel" title="Exon Groups" open="false">
  <collection id="exon_groups" onreorder="reorder_exon_groups" select="single" extent="2">
    <schema id="exon_groups_schema">
      <elt type="string">Exon Group Name</elt>
      <elt type="string">Group Members</elt>
      <elt type="timestamp">Created</elt>
      <elt type="string">Owner</elt>
    </schema>
    <tuple>
      <elt>Example</elt>
      <elt>Exon 1, Exon 2</elt>
      <elt>Yesterday</elt>
      <elt>browndav</elt>
    </tuple>
    <tuple>
      <elt>Another Example</elt>
      <elt>Exon 1, Exon 2</elt>
      <elt>Yesterday</elt>
      <elt>browndav</elt>
    </tuple>
    <tuple>
      <elt>Third Example</elt>
      <elt>Exon 1, Exon 2</elt>
      <elt>Two Days Ago</elt>
      <elt>browndav</elt>
    </tuple>
  </collection>
  <panels id="exon_groups_detail" size="small">
    <panel title="Selection Details" open="true">
      <collection id="exon_groups_detail" type="form" appearance="normal">
        <tuple>
          <elt>
            <import id="exon_groups[gene_exon_grp_nm]" ref="test_input" label="Exon Group Name" value="" />
          </elt>
        </tuple>
      </collection>
    </panel>
  </panels>
  <transition>
    <import ref="before_transition" />
    <import ref="exon_groups_transition" key="transition" selected="0" />
    <import ref="after_transition" />
  </transition>
</panel>

