<library>
  <action id="reorder_genes" target="genes" type="update" href="ajax/genes/tuple" scope="self" />
  <select id="genes_transition">
    <option>
      nothing at all
    </option>
    <option value="1">
      all related exons
    </option>
  </select>
</library>
<panel id="genes_panel" title="Genes" open="false">
  <collection id="genes" onreorder="reorder_genes" select="single" extent="2">
    <schema id="h1">
      <elt type="string">Gene Name</elt>
      <elt type="timestamp">Created</elt>
      <elt type="string">Owner</elt>
    </schema>
    <tuple>
      <elt>Example Gene</elt>
      <elt>Yesterday</elt>
      <elt>browndav</elt>
    </tuple>
    <tuple>
      <elt>Another Example Gene</elt>
      <elt>Yesterday</elt>
      <elt>browndav</elt>
    </tuple>
    <tuple>
      <elt>Yet a Third Example Gene</elt>
      <elt>Two Days Ago</elt>
      <elt>browndav</elt>
    </tuple>
  </collection>
  <panels id="genes_detail" size="small">
    <panel title="Selection Details" open="true">
      <collection id="genes_detail_collection" type="form" appearance="normal">
        <tuple>
          <elt id="elt3">
            <import id="genes[gene_nm]" ref="test_input" label="Gene Name" value="" />
          </elt>
        </tuple>
      </collection>
    </panel>
  </panels>
  <transition>
    <import ref="before_transition" />
    <import ref="genes_transition" key="transition" selected="0" />
    <import ref="after_transition" />
  </transition>
</panel>

