<panels id="ps1" title="Toolbox"
  size="small" reorderable="true" scroll="true">
  <status>
    <xhtml>
      <a class="button control">
        <span class="interior">
          <label>Configure...</label>
        </span>
      </a>
    </xhtml>
  </status>
  <panel open="true" id="p2" title="My Collections">
    <collection id="my_collections" accept="all_collections" checkboxes="none">
    </collection>
  </panel>
  <panel open="true" title="All Collections">
    <collection id="all_collections" accept="my_collections" extent="3" checkboxes="none">
    </collection>
  </panel>
</panels>

