<xhtml>
  <a class="button control">
    <span class="interior">
      <label>Save</label>
    </span>
  </a>
  <a class="button control">
    <span class="interior">
      <label>Save As...</label>
    </span>
  </a>
  <a class="button control">
    <span class="interior">
      <label>New...</label>
    </span>
  </a>
</xhtml>

